.header-padding{
    height: 80px;
}
.header2-padding{
    height: 70px;
    background-color: #24a65c;
}
.ecolhido
{
    width: 125px;
    height: 60px;
    background-color: rgba(24, 115, 63,1);
    position: relative;
    top: 10px;
    left: 19.7vw;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;

}