<div class="fixed-top">
    <div class="abobrinha">

    </div>
    
    <div class="row">
        <div class="col">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">HOME</a>
        
            <a class="nav-link" [routerLink]="['/sobre']" routerLinkActive="router-link-active">SOBRE</a>
        
            <a class="nav-link" [routerLink]="['/postos-de-coleta']" routerLinkActive="router-link-active">POSTOS DE COLETA</a>
        
            <a class="nav-link" href="#">PARCEIROS</a>
        
            <a class="nav-link" href="#">CONSULTAR PONTOS</a>
        </div>
    </div>
    <!--
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" href="#">HOME</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">SOBRE</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">PONTOS COLETADOS</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">PARCEIROS</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">CONSULTAR PONTOS</a>
        </li>
    </ul>-->
</div>
