.abobrinha{
    height: 80px;
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #f5f5f5;
    padding-top: 1.4vh;
    font-size: larger;
}

a { color: inherit; }