.filtro{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5)
}

.filtro2{
    width: 100%;
    height: 230px;
    position: relative;
    top: 547px;
    background-color: rgba(36, 166, 92, 0.25)
}

.divhome{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url("src/assets/ImageHome.jpeg");
}

.textbox{
    background-color: rgba(0, 0, 0, 0.5);
    width: 35vw;
    height: 20vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    border-radius: 25px;

    position: relative;
    top: 40%;
    float: right;
    right: 3vw;
}

#text{
    padding-top: 3.5vh;
}

.header-padding{
    height: 80px;
}