.container-fluid{
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3) url("src/assets/ImageHome.jpeg");
    background-size: cover;
    background-blend-mode: darken;
    
}

.cen{
  height: 40vh;
}
.sla{
   height: 30vh;
}

#textbox{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 4vh;
    padding-bottom: 4vh;
    min-height: 18vh;
    max-height: 30vh;    
}
#text{
    padding-top: 3.5vh;
}

.header-padding{
    height: 80px;
}