#footer{
    background-color: rgba(35, 39, 46,0.37);
    padding-bottom: 3vh;
}

.redes-sociais{
}
.list-group-item
{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    height: 30px;
    border: none;
}

