@font-face {
    font-family: Roboto;
    src: url("src/assets/Fonts/Roboto-Medium.ttf") format('truetype');
}

.header-padding{
    height: 13vh;
    background-color: rgba(36, 166, 92, 0.83)
    
}

.escolhido
{
    width: 192px;
    height: 60px;
    background-color: rgba(24, 115, 63,1);
    position: relative;
    top: 6.6vh;
    left: 72vw;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;

}
h1{
    font-family: Roboto;
    font-size: 500;
}

label{
    font-family: Roboto;
    font-size: 200;
}

.CEP{
    background-color: #66b443;
    color: white;
    width: 100px;
    height: 38px;
    padding-left: 20px;
    padding-top: 7px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    right: 400px;
}

.input{
    border: none;
    background-color: #9bce84;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 400px;
    padding-left: 100px;
    
}
.col{
    display: flex;
    align-items: center;

}

.maps{
    border-radius: 70px;
    position: relative;
    top: 10vh;
}

.button{
    background-color: #59ae33;
    width: 200px;
    height: 50px;
    position: relative;
    left: 80px;
}