@font-face {
    font-family: Roboto;
    src: url("src/assets/Fonts/Roboto-Medium.ttf") format('truetype');
}

.container{
    padding-top: 18vh;
}

.col{
    height: 66vh;
}

h1{
    font-family: Roboto;
    font-size: 500;
}

label{
    font-family: Roboto;
    font-size: 200;
}

.CEP{
    background-color: #66b443;
    color: white;
    width: 100px;
    height: 38px;
    padding-left: 20px;
    padding-top: 7px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    right: 400px;
}

.input-cep{
    border: none;
    background-color: #9bce84;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    width: 400px;
    padding-left: 100px;
    
}

.checkboxGroup{
    background-color: #66b443;
    width: max-content;
    padding: 10px;
    border-color: #59ae33;
    border-radius: 20px;
}

.maps{
    border-radius: 70px;
}

.button{
    background-color: #59ae33;
    width: 200px;
    height: 50px;
    margin-left: 6vw;
}