<div class="header-padding">
    <div class="escolhido"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="textbox">
                <h1>Encontre o Posto de Coleta mais proximo de você</h1>

                <label>Digite seu CEP para buscarmos o Posto mais proximo:</label>

                <div class="input-group mb-3">
                    <input type="text" class="input" placeholder="123456-789" aria-label="Username" aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <div class="CEP">CEP</div>
                    </div>
                </div>

                <a class="nav-link" href="#"><button type="button" class="button btn text-white rounded-pill">Encontrar Postos</button></a>
            </div>
        </div>
        <div class="col">
            <!--IMAGEM AQUI-->

            <img class="maps" src="assets/Maps.jpeg" alt="imagem do maps">

        </div>
    </div>
    
</div>


<app-footer></app-footer>
