<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div class="textbox">
                <h1>Encontre o Posto de Coleta mais proximo de você</h1>

                <label>Digite seu CEP para buscarmos o Posto mais proximo:</label>

                <div class="input-group mb-3">
                    <input type="text" class="input-cep" placeholder="123456-789" aria-label="Username" aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <div class="CEP">CEP</div>
                    </div>
                </div>


                <div class="checkboxGroup">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Plasticos
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Papeis
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Vidros
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Metais
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Gesso
                        </label>
                    </div>
                </div>
                
                <button type="button" class="button btn text-white rounded-pill" (click)="search()" >Encontrar Postos</button> 
                    
            </div>
        </div>
        <div class="col">
            <!--IMAGEM AQUI-->

            <img *ngIf="showImage" class="maps" src="assets/Maps.jpeg" alt="imagem do maps">

        </div>
    </div>
    
</div>


<app-footer></app-footer>
