.header-padding{
    height: 13vh;
    background-color: rgba(36, 166, 92, 0.83)
    
}

.escolhido
{
    width: 192px;
    height: 60px;
    background-color: rgba(24, 115, 63,1);
    position: relative;
    top: 6.6vh;
    left: 72vw;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;

}